  
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .hero__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; 
  }


  @media (max-width: 768px) {
    .hero {
      height: 300px; 
    
    }
  }

  @media (max-width: 480px) {
    .hero {
      height: 180px; 
     
    }
  }

.hero h1 {
    color: #193541;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero p {
    color: #405F74;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}


.hehe{
    position: center;
    background: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

.hehe button {
    position: center;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: #F75457;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 30px;
    display: flex;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.hero__btn{
    position: center;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.hehe button:hover {
    background-color: #c3373a;
    transform: scale(1.1);
}